@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

/* Tema Claro */
:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #1d4ed8;
    --color-secondary: #fbbf24;
    --color-border: #45c435;
    --color-link: #3b82f6;
    --color-hover: #25eb99;
    --color-scrollbar-thumb: #31b643;
    --color-scrollbar-hover: #39f352;
    --color-scrollbar-track: #7bc285;
    --font-family: "M PLUS 1 Code", monospace;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --header-text-size-xs: 24px;
    --header-text-size-sm: 30px;
    --header-text-size-md: 46px;
    --header-text-size-lg: 52px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
  }
  
  /* Tema Oscuro */
  .dark {
    --color-bg: #111827;
    --color-text: #ffffff;
    --color-primary: #3b82f6;
    --color-secondary: #fcd34d;
    --color-border: #374151;
    --color-link: #60a5fa;
    --color-hover: #1d4ed8;
    --color-scrollbar-thumb: #31b643;
    --color-scrollbar-hover: #39f352;
    --color-scrollbar-track: #7bc285;
    --font-family: "M PLUS 1 Code", monospace;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --header-text-size-xs: 24px;
    --header-text-size-sm: 30px;
    --header-text-size-md: 46px;
    --header-text-size-lg: 52px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
  }