@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

/* Tema Claro */
:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #1d4ed8;
    --color-secondary: #fbbf24;
    --color-border: #45c435;
    --color-link: #3b82f6;
    --color-hover: #25eb99;
    --color-scrollbar-thumb: #31b643;
    --color-scrollbar-hover: #39f352;
    --color-scrollbar-track: #7bc285;
    --font-family: "M PLUS 1 Code", monospace;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --header-text-size-xs: 24px;
    --header-text-size-sm: 30px;
    --header-text-size-md: 46px;
    --header-text-size-lg: 52px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
  }
  
  /* Tema Oscuro */
  .dark {
    --color-bg: #111827;
    --color-text: #ffffff;
    --color-primary: #3b82f6;
    --color-secondary: #fcd34d;
    --color-border: #374151;
    --color-link: #60a5fa;
    --color-hover: #1d4ed8;
    --color-scrollbar-thumb: #31b643;
    --color-scrollbar-hover: #39f352;
    --color-scrollbar-track: #7bc285;
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --header-text-size-xs: 24px;
    --header-text-size-sm: 30px;
    --header-text-size-md: 46px;
    --header-text-size-lg: 52px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
  }
  
  /* Usar variables en .button-header */
  .button-header {
    background-color: var(--color-bg); /* Background color from the theme */
    border: none; /* Remove default border */
    border-bottom: 2px solid var(--color-border); /* 2px solid black border only at the bottom */
    padding: var(--spacing-md) var(--spacing-lg); /* Example padding, adjust as needed */
    font-family: var(--font-family); /* Use the defined font family */
    font-size: var(--font-size-base); /* Use the defined font size */
    color: var(--color-text); /* Text color from the theme */
    cursor: pointer; /* Change cursor to pointer */
    text-align: center; /* Center text */
    transition: background-color 0.3s; /* Smooth transition for background color */
    
    /* Optional: Add hover effect */
    &:hover {
      background-color: var(--color-hover); /* Change background color on hover */
    }
  }



/* Estilo para toda la barra de desplazamiento */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento vertical */
  height: 12px; /* Altura de la barra de desplazamiento horizontal */
}

/* Estilo para el "pulgar" (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb); /* Color de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}

/* Estilo para el "track" (la parte detrás del pulgar) */
::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-track); /* Color del fondo de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados */
}

/* Estilo para el "track" cuando el pulgar está sobre él */
::-webkit-scrollbar-track:hover {
  background-color: var(--color-scrollbar-hover); /* Cambia el color de fondo cuando el pulgar está sobre él */
}
  
  