/* src/styles/globals.scss */
@import '../styles/themes.scss';

:root,
html,
body {
  height: 100vh;
	margin: 0;
	padding: 0;
  background-color: var(--color-bg);
	font-family: var(--font-family);
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
  word-break: break-word;
  width: auto;
  background-color: transparent;
  margin: 0;
	padding: 0;
  color: var(--color-text)
}
p{
  margin:1rem 0;
  font-size: var(--body-text-size-md);
  line-height: 1.25rem;
  font-weight: 400;
  word-spacing: 0.20rem;
  letter-spacing: 0.08rem;
}
strong{
  color: var(--color-text-secondary);
  a {
    color: var(--color-text-secondary);
  }
}

.image-container {
  position: relative;
  width: 10rem;
  height: auto;
}
.custom-image {
  object-fit: contain; 
  display: block; 
}

@media (min-width: 768px) { /* Ajustes para pantallas medianas y mayores */
  .image-container {
    width: 150px; /* Ancho específico para pantallas medianas y mayores */
    height: 760px; /* Altura específica para pantallas medianas y mayores */
  }
  
  .custom-image {
    display: block; /* Muestra la imagen en pantallas medianas y mayores */
  }
}

@media (max-width: 767px) { /* Ajustes para pantallas pequeñas */
  .custom-image {
    display: none; /* Oculta la imagen en pantallas pequeñas */
  }
}
