#header {
	z-index: 11;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	background-color: var(--color-bg);
	a {
		text-decoration: none;
		color: var(--color-text);
	}
	// @media (max-width: 480px) {
	// 	// flex-direction: column;
	// 	height: 10rem;
	// }
	#header-logo-container{
		margin-left: 1rem;
	}
	#header-buttons {
		// position: fixed;
		display: flex;
		// right: 0;
		gap: var(--spacing-lg);
		align-items: center;
		padding: var(--spacing-md) var(--spacing-lg);
        // margin-right: 2rem;
	}
	.icons-toggle-button{
		width: max-content;
		display: flex;
	}
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
	/* Ajusta el valor del ancho según tus necesidades */
	#header {
		flex-direction: column; /* Cambia la dirección de flex a columna */
		align-items: center; /* Centra los elementos en el eje transversal */
	}

	#header-title,
	#header-buttons {
		width: 100%; /* Opcional: Ajusta el ancho al 100% */
		justify-content: center; /* Centra los elementos dentro del contenedor */
		padding: var(--spacing-sm) var(--spacing-md); /* Ajusta el espaciado según sea necesario */
		text-align: center; /* Centra el texto */
	}
}
