@import '../../styles/themes.scss';

.section {
  width: 90%;
  height: auto;
  margin: 2rem 4rem;
  padding: 2rem;
  // background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  border: 2px solid var(--color-border);
  border-radius: 2rem;
  a {
		text-decoration: none;
		color: var(--color-text);
	}
}